:root {
    --primary-color: #4682B4 ;
    --secodary-color: #000000;
    --teritary-color: #D3D3D3;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {

    color: var(--secodary-color);
    font-family:Arial, Helvetica, sans-serif;

}

header {
    padding: 20px 35px;
    background-color: var(--secodary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position:-webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url(../images/1574340705272\ \(1\).jpg) ;
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;

}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--secodary-color);
    margin: 0,
  
} 


header a {
    text-decoration: none;
    color: var(--secondary-color);
     
}

header nav {
    margin: 7px 0;

}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.5vw;
    text-shadow: 0 0 10px rbga (0, 0, 0, 0.5);

}

header nav ul li a:hover{
    background: var(--teritary-color);
    color: var(--primary-color);
    border-radius: 15px;
    text-shadow:  none;

}


footer {
    background: var(--teritary-color);
    width: 100%;
    padding: 40px 35px;
    justify-content: space-between;
    flex-wrap: wrap;

}
footer h4 {
    margin: 0;
    font-size: medium;
}

footer div p {
    text-align: right;
}

.about-me {
    margin: 20px auto;
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: right;

} 

.about-me h2 {
    flex: 0 0 0;
    margin: right;
}

.about-me p {
    margin: 20px 50px;
    text-align: justify;
}

/*Work section starts */
 .work {
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    overflow: hidden;

 }

 .work h2 {
    text-align: center;
    margin: 15px auto;
 }

 .work img {
    width: 100%;
    min-height: 300px;
    max-height: 400px;
    object-fit: cover;
 }

 
 .work-main {
    position: static;
    margin: 10px;
    width: 100%;
    flex: 0 100%;

 }
  .work-title{
    position: static;
    bottom: 8px;
    left: 16px;
    width: 60%;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--teritary-color);
    color: var(--secodary-color);

  }
 
  /*Contact me starts*/
  .contact-me {
    margin: 20px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  .contact-me h2 {
    text-align: center;
    margin: 15px auto;
  }

  .contact-me ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-style: normal;

  }

  .contact-me ul li {
    margin: 20px;
  }


